
<i class="home icon home-icon huge" onclick="home()"></i>

<h1 class="ui header title">Byerly's Boys</h1>

<%= render partial: 'landing/query_form' %>

<div class="ui indicating progress" data-value="1" data-total="200" id="progress" style="margin-top: 30px; width: 50%; display: none;">
  <div class="bar">
    <div class="progress"></div>
  </div>
</div>

<div id="examsTable">
  <%= render partial: 'landing/exams_table' %>
</div>
