<h1>Lookup exams</h1>
<p>Select a county, school and year to show exams.</p>
<%= form_tag("/search", method: "get") do %>
  County : <br/>
  <%= select_tag(:county_id, options_from_collection_for_select(@counties, :county, :county)) %><br/>
  School : <br/>
  <%= select_tag(:school_id, options_from_collection_for_select(@schools, :state_lea_id, :school_name)) %></br>
  Year : <br/>
  <%= submit_tag("Show exams") %>
<% end %>
