/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require semantic_ui/semantic_ui
 */

.main {
  min-height: 100%;
  width: 100% !important;
  display: flex !important;
  align-items: center;
  justify-content: center;

  background: #3B7393;
  background: -webkit-linear-gradient(#50A08A, #3B7393);
  background: -o-linear-gradient(#50A08A, #3B7393);
  background: -moz-linear-gradient(#50A08A, #3B7393);
  background: linear-gradient(#50A08A, #3B7393);
  flex-direction: column;
}

.filters-container {
  background: #fff;
  padding: 20px !important;
  border-radius: 10px;
  width: 50% !important;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  margin-top: 30px !important;
}

.results-container {
  background: #fff;
  border-radius: 10px;
  width: 100% !important;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
  margin-top: 30px !important;
}

.title {
  font-family: 'Pacifico', cursive !important;
  color: #ffffff !important;
  font-weight: bold !important;
  font-size: 3em !important;
}

.custom-flex {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.home-icon {
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  opacity: .8 !important;
}

.home-icon:hover {
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  opacity: 1 !important;
}

.results-col {
  text-align: center !important;
}
